<html>
  <head>
    <title>Shopping list check-off</title>
    <script src="scripts/angular.min.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  </head>

  <body ng-app="shoppingListApp">
    <div ng-controller="buyListController as buyCtrl">
      <h3>To Buy</h3>
      <h4 ng-show="buyCtrl.items.length == 0">All Items Bought!</h4>

      <ol>
        <li ng-repeat="item in buyCtrl.items" class="row-fluid span9">
          <span class="span6">Buy {{item.quantity}} of {{item.name}}.</span>
          <button ng-click="buyCtrl.removeItem($index)" class="span2">Bought!</button>
          <br>
        </li>
      </ol>
    </div>

    <div ng-controller="boughtListController as boughtCtrl">
      <h3>Items Bought</h3>
      <h4 ng-show="boughtCtrl.items.length == 0">Nothing Bought Yet!</h4>

      <ol>
        <li ng-repeat="item in boughtCtrl.items">
          Bought {{item.quantity}} of {{item.name}}.
        </li>
      </ol>
    </div>
  </body>

</html>
